/* Сброс стандартных отступов и полей для html и body */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Скрываем все прокрутки */
    height: 100%; /* Занимает всю высоту области видимости */
}

/* Заставляем .pano-image также занимать всю область видимости */
#pano-image {
    width: 100%;
    height: 100%;
}