.variant
{
    text-align: center;
    font-size: 25px;
}


.task
{
    font-size: 25px;
    text-align: justify;
}

.table
{
width: 90%;
margin: auto;
background:white;
border-collapse: separate; 
border-spacing: 10px; 
margin-bottom: 20px; 
padding-bottom: 10;
border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  display: block;
}

th, td
{
    border-spacing: 0 10px;
    padding: 10px;
    font-size: 25px;
}

html {
    background-image: url(https://img.freepik.com/free-vector/gradient-wavy-background-with-spheres_23-2149111796.jpg?w=1380&t=st=1728934079~exp=1728934679~hmac=eca99a1a1c50e0fa0a15dd1f47547ecbab3f5c755afa384140e5539f8eff4b7e);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .answer{

    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    margin-top: 20px;
  }

  .check:hover {
    background-color: lightblue;
  }

  .result_{
    background-color: white;
            border-radius: 15px;
            padding: 20px;
            margin-top: 10px;
            margin: auto; 
            text-align: center; 
            width: 30%; 
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }

  .headline{
    color: white;
    font-size: 30px;
    ;
  }

  .image {
    display: flex;
    justify-content: center;

}

.save{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  margin: 0 auto;;

}

.load{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  margin: 0 auto;
}

.check
{
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  margin: 0 auto;
}

.check:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5)
}

.save:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5)
}

.load:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5)
}

.rectangle-buttons
{
  display: flex;
  justify-content: space-between;
}